# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# VS Code / IDE Configurations
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Slack token config files
*.slacknotif_config
*.python-version
